*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: CenturyGothic, "Century Gothic", Helvetica;
}

.App {
  height: 100%;
  margin-top: 5vh;
  .board{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    div {
      &.grid{
        border: 2px solid black;
        // margin: auto;
        height: 50px;
        width: 50px;
        &.black {
          background-color: black;
        }
        &.white {
          background: white;
        }
      }
    }
  }
}